* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1a2f2a;
  padding: 0 32px 32px 287px;
  font-family: "Lucida Console", monospace;
  color: white;
}
h3 {
  margin: 0;
  padding: 1em 0 0.75em;
  font-size: 1.25em;
}
ul {
  margin: -3px;
  padding: 0;
  list-style: none;
}
li {
  float: left;
  margin: 3px;
}
li[data-checked="false"] {
  opacity: 0.5;
}
img {
  display: block;
  width: 92px;
  height: 128px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
#large-card {
  position: fixed;
  left: 32px;
  top: 57px;
  width: 223px;
  height: 310px;
  border-radius: 10px;
  opacity: 1 !important;
}

#card {
  display: block;
  width: 92px;
  height: 128px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

#header{
margin:6px;
padding:6px;
color:grey;
background-color:black;
width:90%;
height: 40px;
border-radius: 10px;
}

#header h1{
display:inline;
}
#header ul {
   display:inline;
}
#header li{
  display:block;
}

#header button{
  display:inline;
  position: absolute;
  left: 80%;
  top: 17px;
  font-size: 10px
}

.pushleft {
  position:relative;
  left: 40px;
}
